@charset "utf-8"

.wow
  visibility: hidden

/* SECTION BANNER TOP
 * -----------------------------------------------*/
.section-top-banner
  +size(100%, 760px)
  position: relative

  .slider-item
    background: url(../img/banner.jpg) center center no-repeat
    height: 760px
    background-size: cover

  .wrapper
    position: relative

  .slick-prev
    +size(43px, 70px)
    background: url(../img/arr.png) center center no-repeat
    left: 12%
    +translate(-50%, -50%)
    font-size: inherit
    z-index: 9

  .slick-next
    +size(43px, 70px)
    background: url(../img/arr.png) center center no-repeat
    right: 10%
    top: 45%
    +translate(-50%, -50%)
    font-size: inherit
    z-index: 9
    -ms-transform: rotate(180deg)
    -webkit-transform: rotate(180deg)
    transform: rotate(180deg)

@media (max-width: $base-sm-break)
  .section-top-banner
    height: 10rem
    .caption
      font-size: .5rem
      height: 10rem


/* SECTION BANNER TOP
 * -----------------------------------------------*/
.registration-banner
  position: absolute
  right: 15%
  bottom: -100px
  background: rgba(0, 0, 0, .7)
  padding: 30px
  +border-radius(5px)
  display: block
  width: 390px
  .title
    width: 100%
    text-align: center
  .registration
    width: 100%
    .input-group
      width: 100%

    .btn-submit
      padding: 0
      width: 100%

      input
        width: 100%
    .note
      width: 100%
      text-align: center
      color: #fff
      font-size: 20px

    .line
      margin-top: 10px
      width: 100%
      text-align: center
      line-height: 0
      img
        width: auto
        max-width: 100%
        margin: 0 auto
  .intro
    margin-top: 20px
    width: 100%


.section-overview
  margin-top: 135px

.title-img
  width: 100%
  text-align: center
  img
    width: auto
    max-width: 100%
    margin: 0 auto

.section-content
  width: 100%
  height: auto
  +flex-wrap(wrap)
  +display-flex
  +align-items(center)
  +justify-content(space-between)

  .large-block
    width: 58%
  .small-block
    width: 40%

    .list-intro .item:before
      background-image: url(../img/arr_blue.png)


  .desc-content
    .desc
      p
        padding: 30px 0 20px

.video-overview
  height: 515px
  background: url(../img/video.png) center center no-repeat
  background-size: cover
  position: relative

  .btn-play
    position: absolute
    +size(145px)
    background: rgba(0, 0, 0, .7)
    top: 50%
    left: 50%
    +translate(-50%, -50%)
    +border-radius(100%)
    cursor: pointer
    img
      position: absolute
      top: 50%
      left: 50%
      +translate(-50%, -50%)

.fancybox-inner
  height: 100% !important


.section-location
  margin-top: 95px
  position: relative

  .section-content
    +justify-content(flex-end)
    min-height: 458px
.maps
  position: absolute
  top: 0
  left: 0
  width: 55%
  background: url(../img/line.png) top center repeat-y
  background-size: contain
  padding: 5px
  padding-left: 0
  +box-shadow(3px 0 7px rgba(0, 0, 0, .35))

  #maps
    width: 100%
    height: 458px


.section-special
  background-color: #00748d
  margin-top: 80px
  padding: 45px 0

.list-galley
  width: 56%
  min-height: 565px
  position: relative

  .slider-for
    position: relative
    img
      width: 100%

  .slider-nav
    position: absolute
    right: 102%
    bottom: 0
    width: 78%
    height: auto
    +flex-wrap(wrap)
    +display-flex
    +align-items(center)
    +justify-content(space-between)
    .slick-list
      padding: 0 !important
      width: 100%
      .slick-track
        width: 100%
    .slider-item
      width: 32%
      border: 5px solid transparent

      img
        width: 100%
      &.slick-current
        border-color: #005162



.content-special.section-content
  +align-items(flex-start)
  .small-block
    color: #fff

  .small-block .list-intro .item:before
    background-image: url(../img/arr_yellow.png)


.section-model
  margin-top: 20px


.slider-model
  margin-top: 60px
  height: 600px
  overflow: hidden
  position: relative

  .slick-slider
    height: 540px

  .slider-item
    margin: 0 auto
    background: url(../img/slider_model01.png) center bottom no-repeat
    background-size: cover
    height: 500px
    img
      width: 100%
    &.slick-current.slick-active.slick-center
      margin: 0 20px

  .slick-dots li
    +size(42px)
    margin: 0 15px
    background-color: #fff
    border: 1px solid #333

  .slick-dots li.slick-active
    background-color: #00748d
    border-color: #00748d

  .slick-prev, .slick-next
    font-size: inherit
    +size(90px)
    background-color: #fff
    z-index: 99
    &:before
      content: ''
      +size(33px, 53px)
      background: url(../img/arr.png) center center no-repeat
      background-size: contain
      position: absolute
      top: 50%
      left: 50%
      +translate(-50%, -50%)

  .slick-prev
    left: 12%
    +translate(-50%, -50%)
  .slick-next
    right: 3%
    -webkit-transform: translate(-50%, -50%) rotate(180deg)
    -ms-transform: translate(-50%, -50%) rotate(180deg)
    -moz-transform: translate(-50%, -50%) rotate(180deg)
    transform: translate(-50%, -50%) rotate(180deg)



.desc-model
  padding: 0 40px

  .list-intro
    .item
      font-size: 20px
      line-height: 1.4
      letter-spacing: -.075em
      &:before
        background-image: url(../img/arr_blue.png)


@media (max-width: 992px)
  .section-top-banner
    height: 600px
    .slider-item
      height: 600px

    .wrapper
      padding: 0

  .registration-banner
    padding: 20px
    width: 300px
    right: 18%
    bottom: -60px
    .registration
      .input-group
        margin: 5px 0
        input
          font-size: 16px
          height: 35px
      .note
        font-size: 16px
    .intro
      font-size: 12px

    .title-common,
    .sub-title
      font-size: 18px

  .section-overview
    margin-top: 80px

  .section-content
    .small-block
      width: 100%
    .large-block
      width: 100%
      margin-top: 30px

  .section-location
    margin-top: 60px
    +display-flex
    +flex-wrap(wrap)

  .maps
    margin-top: .2rem
    position: relative
    width: 100%
    padding-left: 5px
    +order(2)

  .section-location .section-content
    +order(1)
    min-height: 0


  .list-galley
    width: 100%
    min-height: 0
    .slider-item
      width: 100%

    .slider-nav
      margin-top: 20px
      position: relative
      right: 0
      left: 0
      width: 100%
      +justify-content(center)

      .slider-item
        width: 150px
        margin: 0 5px
        width: 100%


  .slider-model .slider-item
    height: 340px

  .slider-model
    height: 440px
    .slick-slider
      height: 340px
    .slick-dots
      bottom: -50px
      li
        +size(35px)

    .slider-item.slick-current.slick-active.slick-center
      // width: 645px !important



@media (max-width: 768px)
  .registration-banner
    padding: .2rem
    width: 3rem
    right: auto
    left: 50%
    bottom: -.6rem
    +translateX(-50%)
    .title-common,
    .sub-title
      font-size: .18rem

    .registration
      margin-top: .1rem
      .input-group
        margin: .05rem 0
        input
          font-size: .18rem
          height: .40rem
      .note
        font-size: .18rem

    .intro
      margin-top: .2rem
      font-size: .14rem

  .title-img
    img
      width: 80%

  .section-top-banner
    height: 7rem
    .slider-item
      height: 7rem

    .slick-prev,
    .slick-next
      +size(.43rem, .7rem)
      background-size: contain

  .section-overview
    margin-top: .7rem

  .section-content
    .desc-content
      .desc p
        padding: .2rem 0

      .large-block
        margin-top: .2rem

  .video-overview
    height: 5rem
    .btn-play
      +size(1.5rem)

      img
        width: .5rem

  .section-location
    margin-top: .5rem

  .maps #maps
    height: 5rem

  .list-galley
    margin-top: .2rem

    .slider-nav
      margin-top: .2rem

      .slider-item
        border-width: .05rem

  .section-model
    margin-top: .4rem

  .slider-model
    margin-top: .4rem
    height: 5rem

  .desc-model
    padding: 0 .2rem
    .list-intro .item
      font-size: .24rem

  .slider-model

    .slick-slider
      height: 3.5rem
    .slider-item
      height: 3.4rem
    .slick-dots
      li
        +size(.4rem)
        margin: 0 .05rem

    .slick-dots
      bottom: -.6rem

    .slick-prev,
    .slick-next
      +size(.7rem)
      &:before
        +size(.3rem, .5rem)

    .slick-prev
      left: .3rem
      +translate(0, -50%)
    .slick-next
      right: .3rem
      -webkit-transform: translate(0, -50%) rotate(180deg)
      -ms-transform: translate(0, -50%) rotate(180deg)
      -moz-transform: translate(0, -50%) rotate(180deg)
      transform: translate(0, -50%) rotate(180deg)






