@charset "utf-8"

/* COMMON FOOTER
 * -----------------------------------------------*/


.footer
  width: 100%
  background: url(../img/line.png) top center repeat-y
  background-size: contain
  padding-top: 5px
  margin-top: 40px

.footer-inner
  padding: 30px 0
  width: 100%
  background-color: #06637b

.main-content
  width: 100%
  +display-flex
  +justify-content(space-between)

.registration
  width: 59%
  form
    width: 100%
    +display-flex
    +flex-wrap(wrap)
    +justify-content(space-between)

  .input-group
    width: 48.5%
    margin: 10px 0
    input
      font-size: 20px
      +size(100%, 50px)
      background-color: #fff
      padding: 0 25px
      +border-radius(3px)
      border: 1px solid #000

  .btn-submit
    margin-top: 10px
    width: 100%
    padding: 0 20px
    max-width: 100%
    text-align: center

    input
      @extend .text-uppercase
      background: url(../img/btn.png) top center no-repeat
      background-size: 100% 100%
      +size(340px, 50px)
      font-size: 15px
      color: #06637b
      font-weight: bold
.intro
  width: 35%
  color: #fff
  line-height: 1.667
  position: relative
  z-index: 3
.list-intro
  .item
    position: relative
    padding-left: 20px
    &:before
      content: ''
      +size(11px, 14px)
      background: url(../img/arr_yellow.png) left center no-repeat
      background-size: contain
      position: absolute
      top: 5px
      left: 0
.content-footer
  position: relative

.btn-to-top
  position: absolute
  bottom: 0
  right: 0
  cursor: pointer
  z-index: 0

  img
    width: auto
    max-width: 100%


@media (max-width: 1124px)
  .intro
    width: 38%

  .btn-to-top
    width: 90px


@media (max-width: 992px)
  .registration
    width: 100%
  .intro
    margin-top: 30px
    width: 100%
  .main-content
    +flex-wrap(wrap)


@media (max-width: $base-sm-break)
  .footer
    margin-top: .5rem
  .footer-inner
    padding: .3rem 0

  .registration
    .input-group
      margin: .08rem 0
      input
        font-size: .2rem
        height: .5rem
        padding: 0 .2rem
        +border-radius(.03rem)

    .btn-submit
      margin-top: .1rem

      input
        +size(4rem, .6rem)
        font-size: .2rem

  .intro
    margin-top: .2rem
  .list-intro
    .item
      padding-left: .3rem
      margin-bottom: .05rem

      &:before
        +size(.15rem, .2rem)
        top: .05rem

  .btn-to-top
    width: .9rem
    right: .2rem
    z-index: 9

