@charset "utf-8"

/* COMMON HEADER
 * -----------------------------------------------*/


.header
  width: 100%
  background: rgba(255, 255, 255, .7)
  position: fixed
  top: 0
  left: 0
  z-index: 999
  border-top: 3px solid #b3b3ff
  height: 85px


.header-inner
  position: relative
  width: 100%
  height: auto
  +flex-wrap(nowrap)
  +display-flex
  +justify-content(space-between)

.header-logo
  width: 30%
  a
    display: inline-block
    line-height: 0
  img
    width: auto
    max-width: 100%
.nav
  width: 70%

.list-menu
  position: relative
  width: 100%
  height: 83px
  +flex-wrap(nowrap)
  +display-flex
  +align-items(center)
  +justify-content(flex-end)

.item-menu
  &:first-child
    .btn-nav .txt-nav
      padding-left: 0
  &:last-child
    .btn-nav .txt-nav
      padding-right: 0



.btn-nav
  display: inline-block
  position: relative
  .txt-nav
    padding: 0 25px
    line-height: 1
    font-size: 14px
    color: #06637b
    font-weight: 600
    display: inline-block
    position: relative
    +transition(color .3s ease)
    white-space: nowrap
    @extend .text-uppercase

@media (min-width: $base-sm-break + 1)
  .nav
    display: block !important
@media (max-width: 1100px)
  .btn-nav .txt-nav
    padding: 0 18px


@media (max-width: 992px)
  .header-logo
    width: 20%
  .nav
    width: 75%
  .header
    height: 63px
  .list-menu
    height: 60px

  .btn-nav .txt-nav
    padding: 0 14px

@media (max-width: 880px)
  .btn-nav .txt-nav
    font-size: 13px


@media (max-width: $base-sm-break)
  .header
    width: 20%
    height: auto
    left: auto
    right: 0
    .wrapper
      padding: 0

  .header-logo
    margin: 0
    padding: 0
    width: 100%
    a
      text-align: center
    img
      +size(58%, auto)
      margin: 0 auto
  .nav
    width: 100%

  .header-inner
    +flex-wrap(wrap)
  .list-menu
    padding-bottom: .4rem
    height: auto
    +flex-wrap(wrap)
    +justify-content(center)

  .item-menu
    width: 100%
    text-align: center

  .btn-nav
    display: block
    width: 100%
    padding-bottom: .15rem
    .txt-nav
      padding: 0
      font-size: .18rem

