@charset "utf-8"

.clearfix
  +pie-clearfix

/* COMMON TITLES
 * -----------------------------------------------*/

.title-common
  font-size: 20px
  font-weight: bold
  line-height: 1
  color: #f79b32
.sub-title
  font-size: 20px
  font-weight: bold
  line-height: 1.5
  color: #fff




@media (max-width: $base-sm-break)
  .title-common,
  .sub-title
    font-size: .26rem


/* COMMON BUTTONS
 * -----------------------------------------------*/


/* COMMON FORMS
 * -----------------------------------------------*/


\::placeholder
  color: 969696
  opacity: 1

\:-ms-input-placeholder, ::-ms-input-placeholder
  color: 969696

@media (max-width: $base-sm-break)

