extends _layouts/default

block vars
  -title        = 'TOP PAGE'
  -description  = 'TOP'
  -keywords     = 'TOP'
  -bodyClass    = 'page-top'
  -path         = './'

block container
  section.section-top-banner
    .key-visua
      .slider-item
      .slider-item
      .slider-item
    .wrapper
      .registration-banner
        .title
          h2.title-common ĐĂNG KÝ THÔNG TIN ĐỂ NHẬN
          .sub-title BẢNG BÁO GIÁ TỐT NHẤT
        .registration
          form
            span.wpcf7-form-control-wrap.company_name.input-group
              input(type="text" name="company_name" value="" aria-required="true" aria-invalid="false" placeholder="Họ và tên (*)").wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required
            span.wpcf7-form-control-wrap.input-group
              input(type="email" name="your-email" value="" aria-required="true" aria-invalid="false" placeholder="Email (*)").wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email
            span.wpcf7-form-control-wrap.input-group
              input(type="tel" name="tel-168" value="" aria-required="true" aria-invalid="false" placeholder="Số điện thoại (*)").wpcf7-form-control.wpcf7-text.wpcf7-tel.wpcf7-validates-as-required.wpcf7-validates-as-tel
            span.wpcf7-form-control-wrap.company_email.input-group
              input(type="text" name="company_note" value="" aria-required="true" aria-invalid="false" placeholder="Ghi chú thêm (*)").wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required
            .btn-submit
              input(type="submit" value="tôi muốn nhận báo giá").wpcf7-form-control.wpcf7-submit.wpcf7c-elm-step2.wpcf7c-force-hide
          .note
            | (*) Chính sách bảo mật thông tin

          .line
            +img('', path+'img/line02.png')
        .intro
          ul.list-intro
            li.item Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu
            li.item Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm
            li.item Tặng bộ nội thất bếp cao cấp từ Malloca
            li.item Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto
            li.item Hệ thống điện an toàn từ thương hiệu Panasonic

  section#overview.section-overview
    .wrapper.section-content
      .desc-content.small-block
        h2.title-img
          +img('', path+'img/title_prj_overview.png')
        .desc
          p
            | đây là text của overview anh coppy text bỏ dô đây dùm e vì e méo coppy dc text ở chổ này, hờn cả thế giới, cái list bên dưới e cũng để text tào lao a coppy dùm e nhé, đội ơn a !!!!
          ul.list-intro
            li.item Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu
            li.item Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm
            li.item Tặng bộ nội thất bếp cao cấp từ Malloca
            li.item Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto
            li.item Hệ thống điện an toàn từ thương hiệu Panasonic
      .video-overview.large-block
        a.btn-play.trans(data-fancybox='', href='https://www.youtube.com/embed/yzl9cdZq20E&autoplay=0&rel=0&controls=0&showinfo=0')
          +img('', path+'img/btn-play.png')

  section#location.section-location
    .maps
      #maps
    .wrapper.section-content
      .desc-content.small-block
        h2.title-img
          +img('', path+'img/title_prj_location.png')
        .desc
          p
            | đây là text của overview anh coppy text bỏ dô đây dùm e vì e méo coppy dc text ở chổ này, hờn cả thế giới, cái list bên dưới e cũng để text tào lao a coppy dùm e nhé, đội ơn a !!!!
          ul.list-intro
            li.item Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu
            li.item Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm
            li.item Tặng bộ nội thất bếp cao cấp từ Malloca
            li.item Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto
            li.item Hệ thống điện an toàn từ thương hiệu Panasonic

  section#special.section-special
    .wrapper.content-special.section-content
      .desc-content.small-block
        h2.title-img
          +img('', path+'img/title_special_point.png')
        .desc
          p
            | đây là text của overview anh coppy text bỏ dô đây dùm e vì e méo coppy dc text ở chổ này, hờn cả thế giới, cái list bên dưới e cũng để text tào lao a coppy dùm e nhé, đội ơn a !!!!
          ul.list-intro
            li.item Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu
            li.item Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm
            li.item Tặng bộ nội thất bếp cao cấp từ Malloca
            li.item Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto
            li.item Hệ thống điện an toàn từ thương hiệu Panasonic

      .list-galley.main
        .slider.slider-for
          .slider-item
            +img('', path+'img/sec-diem-noi-bat-image-large.png')
          .slider-item
            +img('', path+'img/sec-diem-noi-bat-image-thumb3.png')
          .slider-item
            +img('', path+'img/sec-diem-noi-bat-image-thumb3.png')

        .slider.slider-nav
          .slider-item
            +img('', path+'img/sec-diem-noi-bat-image-thumb1.png')
          .slider-item
            +img('', path+'img/sec-diem-noi-bat-image-thumb2.png')
          .slider-item
            +img('', path+'img/sec-diem-noi-bat-image-thumb3.png')

  section#model.section-model
    h2.title-img
      +img('', path+'img/title_flat_model.png')
    .slider-model
      .slider-main
        .slider-item
          // +img('', path+'img/slider_model01.png')
        .slider-item
          // +img('', path+'img/slider_model01.png')
        .slider-item
          // +img('', path+'img/slider_model01.png')
    .wrapper.desc-model
      ul.list-intro
        li.item Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu
        li.item Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm
        li.item Tặng bộ nội thất bếp cao cấp từ Malloca
        li.item Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto
        li.item Hệ thống điện an toàn từ thương hiệu Panasonic







