include ../_mixins/all

block vars
  -title        = 'Title'
  -description  = 'Description'
  -keywords     = 'keywords'
  -bodyClass    = 'page-top'
  -path         = '.'

doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //[if IE]><meta http-equiv="cleartype" content="on"><![endif]
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title=title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Abril+Fatface")
    link(rel="stylesheet", href=path+"css/style.css")

  body(class=bodyClass)
    .container
      include ../_parts/header
      block container
      include ../_parts/footer
    script(src=path+"js/libs.js")
    script(src=path+"js/modernizr.js")
    script(src=path+"js/wow.min.js")
    script(src=path+"js/jquery-ui.js")
    script(src=path+"js/slick.min.js")
    script(src=path+"js/jquery.fancybox.min.js")
    script(src=path+"js/scripts.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs2EX1x62kdImcpNvfAa3Mqgw4uImnZyY&callback=myMap")

