footer.footer#contact
  .footer-inner
    .wrapper.content-footer
      h2.title.title-common ĐĂNG KÝ THÔNG TIN ĐỂ NHẬN
      .sub-title.title-common BẢNG BÁO GIÁ TỐT NHẤT
      .main-content
        .registration
          form
            span.wpcf7-form-control-wrap.company_name.input-group
              input(type="text" name="company_name" value="" aria-required="true" aria-invalid="false" placeholder="Họ và tên (*)").wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required
            span.wpcf7-form-control-wrap.input-group
              input(type="email" name="your-email" value="" aria-required="true" aria-invalid="false" placeholder="Email (*)").wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email
            span.wpcf7-form-control-wrap.input-group
              input(type="tel" name="tel-168" value="" aria-required="true" aria-invalid="false" placeholder="Số điện thoại (*)").wpcf7-form-control.wpcf7-text.wpcf7-tel.wpcf7-validates-as-required.wpcf7-validates-as-tel
            span.wpcf7-form-control-wrap.company_email.input-group
              input(type="text" name="company_note" value="" aria-required="true" aria-invalid="false" placeholder="Ghi chú thêm (*)").wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required
            .btn-submit
              input(type="submit" value="tôi muốn nhận báo giá").wpcf7-form-control.wpcf7-submit.wpcf7c-elm-step2.wpcf7c-force-hide
        .intro
          ul.list-intro
            li.item Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu
            li.item Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm
            li.item Tặng bộ nội thất bếp cao cấp từ Malloca
            li.item Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto
            li.item Hệ thống điện an toàn từ thương hiệu Panasonic

      .btn-to-top.trans
        +img('', path+'img/to-top.png')


