header.header
  .wrapper
    .header-inner
      h1.header-logo.trans
        a(href=path)
          img(src=path+"img/logo.png", alt="logo")
      nav.nav
        .nav-inner
          .list-menu.clearfix
            .item-menu
              a.btn-nav(href=path).trans
                span.txt-nav trang chủ
            .item-menu
              a.btn-nav(href="#overview").trans.anchor
                span.txt-nav tổng quan
            .item-menu
              a.btn-nav(href="#location").trans.anchor
                span.txt-nav vị trí dự án
            .item-menu
              a.btn-nav(href="#special").trans.anchor
                span.txt-nav tiện ích
            .item-menu
              a.btn-nav(href="#model").trans.anchor
                span.txt-nav mẫu căn hộ
            .item-menu
              a.btn-nav(href="#contact").trans.anchor
                span.txt-nav liên hệ
